.home {
  padding-inline: 20px;

  .sectionCreate {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    margin: 10px 0;

    .btnCreate {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      border-radius: 8px ;
      cursor: pointer;
      box-shadow: 1px 4px 12px 1px rgba(0, 0, 0, 0.25);
      padding: 4px 14px;
      border: none;
      outline: none;
    }
  }

  .contentBooks {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
}
