.code-editor-block {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  display: inline;
}

.code-editor-menu {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

select {
  padding: 5px;
  border-radius: 3px;
}
