.home {
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;

  .btnCreate {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;

    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .contentBooks {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
  }
}
