.containerBtn {
  position: relative;

  .btnTitle {
    width: fit-content;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    border: 1px solid #918f8fb6;
    border-radius: 8px;
    gap: 10px;
    font-size: 14px;
  }

  .content_item {
    position: absolute;
    top: calc(100% + 10px);
    left: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 4px;
    z-index: 50;
    --popover-overflow-padding: 8px;
    --popover-anchor-width: 128px;
    --popover-available-width: 616px;
    --popover-available-height: 800px;
    background-color: white;
    min-width: 80px;
    align-items: center;
    border: 1px solid #918f8fb6;
    border-radius: 8px;
  }

  .item {
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 2px;
    width: 100%;

    .check {
      font-size: 15px;
    }
  }
}
