.modal {
  display: flex;
  align-items: center;
  padding: 6px;
  width: fit-content;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
  position: fixed;
  z-index: 10;
  background-color: hsla(0, 100%, 100%, 0.7);
  backdrop-filter: blur(5px);
}
