.book {
  background-color: white;
  border: 1px solid #e0e0e0;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
  width: 200px;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .card_header {
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .title_card {
      font-size: 0.875rem;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .content_info_book {
    padding: 0.75rem;
    text-decoration: none;
    display: block;

    .description {
      font-size: 0.75rem;
      color: #666;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .btn_open {
      margin-top: 0.5rem;
      width: 100%;
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 0.75rem;
      color: black;
    }
  }
  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
