.content-btn {
  display: flex;
  align-items: center;
  padding: 6px;
  width: 60%;
  justify-content: center;
  gap: 20px;
  border-radius: 8px;
  background-color: hsla(0, 100%, 100%, 0.1);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 90px;
  height: 50px;

  .btn-book {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 4px 12px 1px rgba(0, 0, 0, 0.25);
    transition: 0.5s;

    &.active {
      background-color: hsla(130, 70%, 50%, 0.7);
    }

    &.textcolor {
      border: none;
      outline: none;
      box-shadow: none;
    }

    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
